
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbar">
  <div class="container">
  <a class="navbar-brand" routerLink="/" onclick="clickMenuHome();">ClaryLegales</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a routerLink="/contactanos" onclick="clickMenu();" class="btn btn-outline-lighty text-white">Contactanos</a>
        <a routerLink="/login" class="btn btn-outline-lighty text-white" onclick="clickMenu();">Login</a>
        <a routerLink="/signup" class="btn btn-primary text-white" >Sing Up</a>
      </div>      
    </ul>
  </div>
</div>
</nav>

  <!--

      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <a href="/contactanos" class="btn btn-primary text-white" ><i class="fas fa-envelope text-white mr-1"></i>Contactanos</a>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user text-white"></i> Isaac Martinez
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </div>
      </div>

  -->