.blue-hover a:hover{
    background-color:#5297ff;
    color:whitesmoke;
}
.red-hover a:hover{
    background-color:rgb(255, 73, 73);
    color:whitesmoke;
}
.white-hover a:hover{
    color:rgb(41, 41, 41);
}